body{
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(247, 127, 16, 0.171)
}
.h1_div{
    width: auto;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 5rem;
    color: rgba(138, 124, 102, 0.514);

}
.result{
    width: auto;
    display: flex;
    justify-content: center;
}
.result h1{
    font-size: 3rem;
    color: rgb(167, 104, 3);
}
#body{
    border: 1px solid;
    height: 430px;
    width: 430px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(138, 124, 102, 0.514);
    margin: 30px auto  ;
}
.boxes{
    height: 130px;
    width: 130px;
    border: 1px solid;
    margin: auto auto;
    background-color: blanchedalmond;
    font-size: 125px;
    text-align: center;
    /* display: none; */
}
.boxes:hover{
    background-color: rgb(247, 190, 105);
    transition: 300ms linear;
}



/* responsiv for mobile  */

@media only  screen  and (max-width:470px){
    h1{
        font-size: 3rem;
    }
    #body{
        height: 250px;
        width: 250px;
        margin-top: 100px;
    }
    .boxes {
        height: 75px;
        width: 75px;
        font-size: 60px;
    }
}